html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: url("../image/login/bg.jpeg") center center repeat;
  z-index: -1;
  position: absolute;
}
input {
  margin: 0;
  padding: 0;
  outline: none;
  height: 100%;
  width: 100%;
  border: none;
  background: transparent;
}
::-webkit-scrollbar-track {
  height: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: transparent;
}
::-webkit-scrollbar {
  width: 12px;
  background-color: transparent;
}
::-webkit-scrollbar:horizontal {
  height: 10px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  background-color: rgba(85, 85, 85, 0.2);
}
::-webkit-scrollbar-thumb:hover {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  background-color: rgba(85, 85, 85, 0.6);
}
::-webkit-scrollbar-track:horizontal {
  background: transparent;
}
.main {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
.mainHidden {
  display: none;
}
.mainContent {
  max-width: 56em;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.mainContent-toastBox {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 3em;
  display: none;
  opacity: 0;
  transition: all .3s;
  font-family: hkwwtjW5;
}
.mainContent-toast {
  padding: .5em 2em;
  background: rgba(51, 51, 51, 0.8);
  color: white;
  position: relative;
  border-radius: .5em;
  display: inline-block;
}
.mainHeader {
  width: 100%;
  position: relative;
  text-align: center;
  user-select: none;
  font-family: hkwwtjW5;
  font-size: 2.5em;
  margin: 1.7em 0 0 0;
}
.mainControl {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin: 2em 0 0;
}
.mainControl-button {
  user-select: none;
  padding: .6em 1em;
  background: url("../image/backManager/u20.png") center center no-repeat;
  background-size: 100% 100%;
  font-family: hkwwtjW5;
  font-size: 1.25em;
  margin: 0 .5em 0;
}
.mainControl-button:last-child {
  margin: 0 3em 0 0;
}
.mainTable {
  flex: 1;
  width: 100%;
  display: flex;
}
.mainTable-menus {
  height: 100%;
  width: 6em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: hkwwtjW5;
  font-size: 1.25em;
  font-weight: 700;
  box-shadow: 1.05em 0 0 -1em rgba(128, 128, 128, 0.5);
}
.mainTable-menu {
  margin: 1.5em 0 0;
  cursor: pointer;
  user-select: none;
}
.mainTable-menu:first-child {
  margin: 3em 0 0;
}
.mainTable-show {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 100%;
}
.mainTable-box {
  height: 90%;
  width: 90%;
  background: #f2f2f2;
}
